@model BookListViewModel

@{
	ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>There are a total of @Model.PagingInfo.TotalItems books</p>

<p>
	<a asp-action="Create" class="btn btn-dark">Create New</a>
</p>

@foreach (var book in Model.Books) {
	<div class="card mt-3">
		<div class="card-body">
			<h5 class="card-title">@book.Title</h5>
			<p class="card-text lead">@book.Author.Name</p>
			<p class="card-text">@book.Description</p>

			<a asp-action="Details" asp-route-id="@book.BookId" class="btn btn-info">Details</a>
			<a asp-action="Edit" asp-route-id="@book.BookId" class="btn btn-warning">Edit</a>
			<a asp-action="Delete" asp-route-id="@book.BookId" class="btn btn-danger">Delete</a>
		</div>
	</div>
}